# Security
SECRET_KEY=change-me-to-a-very-long-random-string
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,your-domain.com
WEB_BASE_URL=https://your-domain.com

# Database (PostgreSQL)
DB_NAME=snacknsip
DB_USER=snacknsip
DB_PASSWORD=snacknsip-secure-pass
DB_HOST=db
DB_PORT=5432

# Redis & Celery
REDIS_URL=redis://redis:6379/0

# Bot / Crypto
BOT_SECRET_TOKEN=my-super-secret-bot-token
FERNET_KEY=generate_some_fernet_key_here

# Minio / S3
MINIO_URL=http://your-domain.com:9000
MINIO_BUCKET=menu-images
MINIO_USER=minioadmin
MINIO_PASSWORD=minioadmin-secure-pass
